@model MisrNews.DomainClasses.Story

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Story</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Auther)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auther)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PublishedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Newspaper)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Newspaper)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
